<h1>We believe the court's 2019 ruling preventing Spätis from opening on Sunday is a direct affront to Berlin culture. If you agree, then join our campaign and free the Späti! </h1>

<form method="POST">
    <input type="text" id="first" name="first" required>
    <label for="first">First Name</label><br>
    <input type="text" id="last" name="last" required>
    <label for="last">Last Name</label><br>
    <input type="email" id="email" name="email" required>
    <label for="email">Email Address</label><br>
    <input type="password" id="password" name="password" required>
    <label for="Password">Password</label><br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="submit">Register</button>
</form>

<h3>Already Registered?</h3>
<button class="login">Login</button>
